@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main_box {
    display: relative;
    min-height: 100vh;
    background: url('backgroundhome.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.main_box .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba;
}